<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="firstName">+
    <input type="text" v-model="lastName">=
    <input type="text" v-model="fullName">
</div>

<script>
    let vm = new Vue({
        el:'#app',
        data:{
            firstName:'',
            lastName:'',
            fullName:''
        },
        methods:{

        },
        watch:{ // 监听数据必须是data中声明过或者父组件传递过来的props中的数据，数据变化就会触发这个watch中data对应的函数
            // P.s：深度监听deep 和 immediate组件加载立即触发回调函数执行
            // 这里的数据如果是first-name，则要写成'first-name':function(){}
            firstName:function (newVal, oldVal) { // 两个特殊参数，顾名思义
                this.fullName = newVal + '-' +  this.lastName
            },
            // 这里的数据也可用''包括
            'lastName':function (newVal, oldVal) {
                this.fullName = this.firstName + '-' + newVal
            }
        }
    })
</script>

</body>
</html>
